body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header .logo img {
    max-height: 80px;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background: url('static/images/hero.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    font-size: 1.2em;
}

.features {
    padding: 50px 0;
    text-align: center;
}

.features .feature {
    display: inline-block;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.features .feature i {
    font-size: 2em;
    color: #333;
    margin-bottom: 10px;
}

.features .feature h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.features .feature p {
    font-size: 1em;
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

footer ul li {
    display: inline;
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}
.data-table {
  border-collapse: collapse;
  width: 100%; /* Adjust width as needed */
  margin: 20px auto; /* Add some margin for better placement */
}

.data-table th, .data-table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}

.data-table thead th {
  background-color: #0077b6;
  font-weight: bold;
}

.data-table tbody tr:nth-child(even) {
  background-color: #fafafa;
}

/* Optional styling for specific columns */
.timestamp, .latitude, .longitude {
  width: 120px; /* Set custom width for these columns */
}

.sai {
  width: 80px; /* Set custom width for these columns */
}

.device-id{
  width: 200px;
}
/* styles.css */

/* Header Styling */
header .container {
  padding: 20px 0;
}

header .logo img {
  height: 60px;
}

header nav ul li a {
  font-size: 18px;
}

/* Map Styling */
#map {
  height: 600px;
  margin-top: 20px;
}

/* Additional styles for a more polished look (optional) */
body {
  font-family: sans-serif;
  margin: 0;
}

header {
  background-color: #3678C0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo {
  flex-grow: 0;
}

header nav {
  flex-grow: 1;
  text-align: center;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline-block;
  margin: 0 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

#map {
  height: 600px;
  margin-top: 20px;
}

#terminal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 10px;
  gap: 20px; /* Adds space between form elements */
}

#terminal-form label {
  margin-right: 10px;
  width: 120px;
  display: flex;
  align-items: center;
}

#terminal-form input,
#terminal-form select,
#terminal-form button {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#terminal-form select {
  background-color: #f0f0f0; /* Changes the background color of the select element */
  color: #000; /* Changes the text color of the select element */
}

#terminal-form button {
  width: auto;
}

#loading-indicator {
  text-align: center;
  margin: 20px 0;
}

    #map {
        height: 600px;
        margin-top: 20px;
    }

